{
  "ignorePatterns": [
    "*.css",
    "*.svg",
    "build"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020
  },
  "extends": [
    "react-app",
    //"eslint:recommended" - this is uselss and requires more overrides becasue "react-app" already has tuned rules for CRA
    //"plugin:prettier/recommended", -- TODO: Reenable it back. Goes haywire after react-script upgrade
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:react/recommended"
  ],
  "rules": {
    "no-duplicate-imports": 2,
    "no-unused-vars": 0,
    "import/order": 2
  }
}