.collapse {
  display: none;
}

.collapse.in {
  display: initial;
}

.collapseButton {
  background-color: #e0e0e0;
  color: #333;
  padding: 15px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  margin: 10px auto;
  display: block;
  width: 400px;
  max-width: 100%;
}

.collapseButton:hover {
  background-color: #d0d0d0;
}
