.table {
  margin: auto 2em;
}
#game {
  margin: 1rem auto;
}
.players2 {
  display: flex;
  flex-direction: row;
}
.player-name {
  margin: 1em;
}
.tableAndInfo {
  border-top: 0.5px solid gainsboro;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0 2em;
}
.table {
  margin-top: 1em;
}
.info {
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 2em;
}
.chosen {
  -webkit-box-shadow: 3px 3px 11px 3px rgba(13, 13, 13, 0.28);
  -moz-box-shadow: 3px 3px 11px 3px rgba(13, 13, 13, 0.28);
  box-shadow: 3px 3px 11px 3px rgba(13, 13, 13, 0.28);
}
button {
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 3px;
  font-size: medium;
}
.description2 {
  display: flex;
  flex-direction: row;
}
.description2 p {
  margin: auto 1em;
}

.letter {
  border: 0.5px solid lightgray;
  border-radius: 5px;
  padding: 3px 6px;
}

#letters {
  margin: 1rem;
}
