.room-tile {
  padding: 0.5em;
  margin: 1em;
  color: rgb(60, 60, 60);
  text-align: left;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  min-height: 100px;
  min-width: 250px;
}
.room a {
  text-decoration: none;
}
.title {
  font-weight: bold;
}

.description {
  /* margin-right: 1em; */
  /* margin: 1em auto; */
  text-align: center;
  /* width: 50%; */
}

.players {
  text-align: center;
  /* margin: auto; */
  /* width: 50%; */
  /* margin: 1em auto; */
}
.rooms {
  display: flex;
  flex-flow: row wrap;
}
.room {
  margin: auto;
}
